.table__semester__semesterInfo {
    font-size: small;
    border: white;
    margin-bottom: 10px;
}
.table__semester__semesterInfo td {
    border: white;
    background-color: white;
    color: #B45F06;
}

th,td {
    font-size: small;
    border-right: solid black;
}

th{
    border-bottom: solid black;
    background-color: #cc9864;
    color: black;
}

hr {
    width: 90%;
    color: #d3975b;
    margin-top: 30px;
}

.tabTitle {
    font-size: large;
    font-weight: bold;
}

table {
    border: solid black;
    margin-right: 10px;
    border-collapse: collapse;
}

.table__semester__innerTable{
    margin-left: 40px;
}

tr:nth-child(odd) {
    background-color: #d9bc9e;
}

tr:nth-child(even) {
    background-color: #f5e4d3;
}
tr:hover {
    background-color: #d78024;
    color: white;
}

.appContainer__semester__content {
    position: relative;
    min-width: 687px;
    min-height: 600px;
    background-color: white;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    margin-left: 4px;
}
.appContainer__semester__button {
    font-size: 12px;
    color: white;
    padding: 4px 10px;
    background-color: #B45F06;
    border: 2px solid black;
    min-width: 80px;
    margin: 5px 5px -10px;
    float: right;
}

.appContainer__semester__button:hover {
    background-color: #d78024;
}

.appContainer__semester__searchButton{
    font-size: 12px;
    color: white;
    padding: 4px 10px;
    background-color: #B45F06;
    border: 2px solid black;
    min-width: 80px;
    margin: 5px 5px -10px;
}

.appContainer__semester__searchButton:hover {
    background-color: #d78024;
}

.appContainer__semester__deleteButton {
    font-size: 12px;
    color: white;
    background-color: #B45F06;
    border: 2px solid black;
    min-width: 20px;
}

.appContainer__semester__deleteButton:hover {
    background-color: #c96b07;
}